
.container{
    display: flex;
    flex-direction: column;
 
}

.container >h1{
    text-align: center;
}

.Content-1{
    margin-top: 2rem;
}

.Input{
    display: flex;
}

.Input > div > button{
    margin-left: 1rem;
}

.Input > div > input{
    width: 50rem;
    font-size: 2rem;
}

.todolist{
 display: flex;
 justify-content: space-between;  
 margin-top: 2rem;
}

.Content-2,.Content-3{
    margin-top: 4rem;
}

.bnt >button{
    margin: 0 1rem;
}

.Contenttwohead{
    display: inline-block;
    margin-left: 1rem;
    text-decoration: underline;
    font-weight: bold;
}

.container >h1{
    font-weight: bold;
    text-decoration: line-through;
}
.div{
    font-size: 2rem;
    /* width: 800px;
    overflow: scroll; */
}