<div class="container">
  <h1>TO DO LIST</h1>

  <div class="Content-1">
    <form class="Input">
      <div>
        <input type="text" name="Todoitem" placeholder="Enter the text..." [(ngModel)]="todoList">
      </div>
      <div>
        <button type="button" class="btn-floating btn-large waves-effect waves-light blue" (click)="OnAdd()">
          <i class="material-icons">add</i>
        </button>
        <button type="button" class="btn-floating btn-large waves-effect waves-light red" (click)="OnClear()">
          <i class="material-icons">clear</i>
        </button>
      </div>
    </form>
  </div>

  <ul class="Content-2">
    <li *ngFor="let item of todoarray" >
      <div class="todolist" >
        <div class="div">{{ item }}</div>
        <div class="bnt">
          <button class="btn-floating btn-large waves-effect waves-light blue">
            <i class="material-icons" (click)="OnComplete()">check</i>
          </button>
          <button class="btn-floating btn-large waves-effect waves-light red">
            <i class="material-icons" (click)="OnDelete()">delete</i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
